* {
  font-family: Product Sans;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background {
  display: flex;
  background-color: #414141;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#containeer {
  transition: all 300ms ease-in-out;

  display: flex;
  position: relative;
  padding-bottom: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 16px;
  width: 100%;
  height: 275px;
}

input {
  margin: 4px 4px;
}

.pole {
  border-radius: 4px;
  padding: 2px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
  width: 32px;
  background-color: #f4b400;
  box-shadow: inset 0px 0px 9px 1px rgb(0 0 0 / 35%);
}

.pole:hover {
  background-color: burlywood;
}

.transition {
  transition: all 100ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.barSize {
  position: relative;
  color: #3ddc84;
  bottom: -30px;
}

#log {
  font-size: small;
  background-color: #db4437;
  font-weight: lighter;
  padding: 0 8px;
  background-color: 241;
  border-radius: 4px;
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #3ddc84;
  width: 100%;
  height: 80px;
  transition: all 300 ease-in-out;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 8px 0px #3ddc8461;
}

.btn {
  border: 2px solid #3ddc84;
  font-size: 20px;
  padding: 4px 8px;
  background-color: #414141;
  color: #3ddc84;
  text-decoration: none;

  border-radius: 8px;
  text-align: center;
}

.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label {
  margin-top: 8px;
  text-align: center;
}

input {
  width: fit-content;
  font-size: 20px;
  background-color: #3ddc84;
  border: 2px solid black;
  text-align: center;
  padding: 4px;
  border-radius: 8px;
}

.btn:hover {
  background-color: #3ddc84;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 35%);
  color: #414141;
}
.selected {
  background-color: #3ddc84;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 35%);
  color: #414141;
}
h1 {
  padding: 4px 8px;
  border-radius: 16px;
}
h1:hover {
  background-color: #414141;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 35%);
  color: #3ddc84;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px 4px 0px 0px;
  align-items: center;
  width: 100vw;
  height: 410px;
    box-shadow: 0px 4px 8px 0px #3ddc8461;

  overflow: hidden;
  background-color: #3ddc84;
}
.card {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.innerCard {
  border-radius: 4px;
  color: white;
  width: 450px;
  height: 280px;
  background: linear-gradient(85deg, #434343, #262626);
  box-shadow: 0 0 1.5rem rgb(17 17 17 / 70%);
  transition: 0.15s;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

#status {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 50px;
  text-align: center;
}

#algorithm {
  padding-top: 30px;
  padding-left: 16px;
  line-height: 30px;
}
.card-head {
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 35%);
  position: absolute;
  top: -16px;
  left: 16px;
  z-index: 999;
  color: aliceblue;
  background-color: #3ddc84;
  padding: 4px;
  border-radius: 4px;
  color: black;
  transition: all 100ms ease-in-out;
}
.card-head.inactive{
  
  transition: all 100ms ease-in-out;
}
.highlight {
  margin: 8px;
  background-color: #3ddc84;
  padding: 4px;
  border-radius: 4px;
  color: black;
}

.mini-cards{
  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 35%);
  background-color: #3ddc84;
  border-radius: 4px;
  color: black;
  width: 100px;
  height: 50px;
  margin: 16px;
  text-align: center;
  padding: 4px;
  position: relative;
}
input::-ms-fill{
  background-color: #262626;
}

/* loading animation */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #3ddc84;
  animation: lds-facebook 1.2s ease-in-out infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


